* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    
}

.nav {
    background-color: teal;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem; /*edge spacing*/ 
}
.title {
    font-size: 2rem;
}
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav a {
    color: black;
    text-decoration: none;
}
.nav li.active {
    background-color: black;
}

.nav li:hover {
    background-color:#E3C565;
}

